services:
  db:
    image: postgres:15-alpine
    container_name: conco_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: conco_web
    env_file:
      - .env
    command: gunicorn --bind 0.0.0.0:8000 --workers 1 --timeout 60 --chdir conco conco.wsgi:application
    volumes:
      - ..:/app                                  # entire project mount
      - ../conco/staticfiles:/app/conco/staticfiles  # collectstatic mount
      - ../conco/media:/app/conco/media               # media mount
      
    expose:
      - "8000"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      DEBUG: ${DEBUG}
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS:-localhost,127.0.0.1}
      ADMIN_URL: ${ADMIN_URL}
      
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: conco_nginx
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../conco/staticfiles:/app/conco/staticfiles:ro
      - ../conco/media:/app/conco/media:ro

    depends_on:
      - web
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
