{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CONCO, Tikinti | construction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'projects:home-page' %}" class="logo d-flex align-items-center justify-content-center">
        <img src="{% static 'assets/img/my_logo.png' %}" alt="Logo" class="logo-img">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar " >
        <ul>
          <li><a href="{% url 'projects:home-page' %}">{% trans "Ana səhifə" %}</a></li>
          <li class="dropdown"><a href="#" ><span>{% trans "Layihələr" %}</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% for category in categories %}
              <li><a href="{% url 'projects:project-page' %}?slug={{ category.slug }}">{{ category.name }}</a></li>
              {% empty %}
              <li><a href="{% url 'projects:project-page' %}">{% trans "Seçilmiş layihələr" %}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{% url 'projects:about-page' %}">{% trans "Haqqimizda" %}</a></li>
          <li><a href="{% url 'projects:vacancy-page' %}">{% trans "Vakansiyalar" %}</a></li>
          <li><a href="{% url 'projects:contact-page' %}">{% trans "Əlaqə" %}</a></li>
          <li class="dropdown"><a href="#"><span>{% if language %}{{ language|upper }}{% else %}AZ{% endif %}</span> 
                {% if language == 'az' or not language %}
                <img src="{% static 'assets/img/azerbaijan.png' %}" alt="AZ" style="width: 18px; height: 17px; margin-left: 5px; vertical-align: middle;">
                {% elif language == 'en' %}
                <img src="{% static 'assets/img/united-kingdom.png' %}" alt="EN" style="width: 18px; height: 17px; margin-left: 5px; vertical-align: middle;">
                {% elif language == 'ru' %}
                <img src="{% static 'assets/img/russia.png' %}" alt="RU" style="width: 18px; height: 17px; margin-left: 5px; vertical-align: middle;">
                {% endif %}
                <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#" class="lang-option" data-lang="az">AZ <img src="{% static 'assets/img/azerbaijan.png' %}" alt="AZ" style="width: 18px; height: 17px; margin-left: 5px; vertical-align: middle;"></a></li>
              <li><a href="#" class="lang-option" data-lang="en">EN <img src="{% static 'assets/img/united-kingdom.png' %}" alt="EN" style="width: 18px; height: 17px; margin-left: 5px; vertical-align: middle;"></a></li>
              <li><a href="#" class="lang-option" data-lang="ru">RU <img src="{% static 'assets/img/russia.png' %}" alt="RU" style="width: 18px; height: 17px; margin-left: 5px; vertical-align: middle;"></a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% if background_image %}{{ background_image }}{% else %}{% static 'assets/img/breadcrumbs-bg.jpg' %}{% endif %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>{% if selected_category %}{{ selected_category.name }}{% else %}{% trans "Layihələr" %}{% endif %}</h2>
 

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
          data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">{% trans "Hamısı" %}</li>
            <li data-filter=".filter-remodeling">{% trans "DAVAM EDƏN LAYİHƏLƏR" %}</li>
            <li data-filter=".filter-construction">{% trans "TAMAMLANMIŞ LAYİHƏLƏR" %}</li>
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 col-6 portfolio-item filter-category-{{ project.category.id }} {% if project.is_completed %}filter-construction{% else %}filter-remodeling{% endif %}">
              <div class="portfolio-content h-100">
                {% if project.medias %}
                  {% with project.medias|first as first_media %}
                    {% if first_media.image %}
                    <img src="{{ first_media.image }}" class="img-fluid" alt="{{ project.name }}">
                    {% else %}
                    <img src="{% static 'assets/img/projects/remodeling-1.jpg' %}" class="img-fluid" alt="{{ project.name }}">
                    {% endif %}
                  {% endwith %}
                {% else %}
                <img src="{% static 'assets/img/projects/remodeling-1.jpg' %}" class="img-fluid" alt="{{ project.name }}">
                {% endif %}
                <div class="portfolio-info">
                  <h4>{% if project.is_completed %}{% trans "Tamamlanmış" %}{% else %}{% trans "Davam edən" %}{% endif %}</h4>
                  <p>{{ project.name }} <a href="{% url 'projects:project-detail' slug=project.slug %}" title="{% trans 'More Details' %}" class="btn btn-sm btn-warning ms-2">{% trans "Etrafli" %}</a></p>
                </div>
              </div>
            </div><!-- End Projects Item -->
            {% empty %}
            <div class="col-12">
              <p>{% trans "Layihə tapılmadı." %}</p>
            </div>
            {% endfor %}

          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" {% if footer_image %}style="background-image: url('{{ footer_image }}');"{% endif %}>

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <!-- Əsas -->
          <div class="col-lg-4 col-md-4">
            <div class="footer-info footer-links">
              <h3>{% trans "Əlaqə" %}</h3>
              <ul>
                <li>Bakı şəhəri, Nərimanov rayonu</li>
                <li>Əhməd Rəcəbli 2/1</li>
                <li>
                  <a href="tel:+994557169791">📞 {% trans "Zəng et" %}: 055 716 97 91</a>
                </li>
                <li>
                  <a href="https://wa.me/994557169791" target="_blank">
                    💬 Whatsapp: 055 716 97 91
                  </a>
                </li>
                <li>
                  <a href="mailto:info@conco.az">✉️ info@conco.az</a>
                </li>
              </ul>

              <div class="social-links d-flex mt-3"> <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a> <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a> <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a> </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-4">
            <div class="footer-info footer-links">
              <h3>{% trans "Əsas" %}</h3>
              <ul>
                <li><a href="{% url 'projects:home-page' %}">{% trans "Ana səhifə" %}</a></li>
                <li><a href="{% url 'projects:about-page' %}">{% trans "Haqqımızda" %}</a></li>
                <li><a href="{% url 'projects:vacancy-page' %}">{% trans "Vakansiyalar" %}</a></li>
                <li><a href="{% url 'projects:contact-page' %}">{% trans "Əlaqə" %}</a></li>
              </ul>
            </div>
          </div>


          <div class="col-lg-4 col-md-4">
            <div class="footer-info footer-links">
              <h3>{% trans "Layihələr" %}</h3>
              <ul>
                {% for category in categories %}
                <li><a href="{% url 'projects:project-page' %}?slug={{ category.slug }}">{{ category.name }}</a></li>
                {% empty %}
                <li><a href="{% url 'projects:project-page' %}">{% trans "Seçilmiş layihələr" %}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative danger">
      <div class="container">
        <div class="copyright">
          &copy;<strong><span>{% trans "Digiboom.az tərəfindən hazırlanıb. Bütün hüquqlar qorunur." %}</span></strong>
        </div>

      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>

</body>

</html>